<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>
    <form action = "/produtos/cadastrar" method = "POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required><br>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br>

        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required><br>

        <label for="valor_unitario">Valor Unitário:</label>
        <input type="number" id="valor_unitario" name="valor_unitario" required><br>


        <input type="submit" value="Cadastrar Produto">
    </form>
</body>
</html>